img {
    width: 300px;
    height: auto;
}

.Title {
    position: absolute;
    top: -18%;
    left: 38%;
}

.HeadLine {
    position: absolute;
    color: white;
    top: 65%;
    left: 24%;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Again{
    position: absolute;
    bottom: 10%;
    right: 5%;
    height: 80px;
    width: 150px;
    background-color: rgb(142, 222, 150);
    border: 2px solid black;
    border-radius: 10%;
    text-align: center;
    cursor: pointer;
}
