/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("./assets/images/backImg.jpg");
    background-size: 100%;
    background-position-y: 35%;
    background-blend-mode: screen;
}